<div class="tribus--add">
  <div class="grid-container">
    <h1>
      Ordnung hinzufügen
    </h1>
  </div>
  <div class="grid-container">
    <form [formGroup]="orderForm" (ngSubmit)="submit()">
      <div class="tribus__item">
        <app-input [config]="nameLtConfig" formControlName="nameLt"></app-input>
      </div>
      <div class="tribus__item">
        <app-input [config]="nameDeConfig" formControlName="nameDe"></app-input>
      </div>
      <div class="login__button">
        <button class="button button-icon--left button--green-medium" type="submit" [disabled]="orderForm.invalid">
          <i class="icon fi-save"></i>
          <span>Ordnung Anlegen</span>
        </button>
      </div>
    </form>
  </div>
</div>
