<div class="login">
    <div class="login-wrapper">
        <div class="login__headline">
            Login <i class="iconfont iconfont-user-alt-3"></i>
        </div>
        <div class="login__notification" *ngIf="notifcationData.show">
            <app-notification [config]="notifcationData"></app-notification>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="login__input">
                <app-input [config]="inputEmailConfig" [valid]="email.valid" formControlName="email"
                           pristine="{{ email.pristine }}"></app-input>
            </div>
            <div class="login__input">
                <app-input [config]="inputPasswordConfig" formControlName="password"></app-input>
            </div>
            <div class="login__button">
                <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </div>
</div>
Login: e@b.com
pw: 1234
