@import "~src/scss/global/global";
$login: '.login';
#{$login} {
  background-image: linear-gradient(to top, #164059, #005f79, #00808b, #00a08c, #34bf7e);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrapper {
    padding: 32px;
    background: rgba(255,255,255, .04);
    min-width: 50vw;

    #{$login}__headline {
      font-size: rem-calc(32);
      color: $blue-dark;

      .iconfont {
        color: $blue-dark;
        font-size: rem-calc(42);
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        width: 100%;
      }
    }

    #{$login}__notification {
      margin: 20px 0;
    }
    #{$login}__notification {
      margin: 20px 0;
    }
    #{$login}__input {
      justify-content: center;
      width: 100%;
      margin-bottom: 16px;
    }
    #{$login}__button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 16px;

      button {
        width: 100%;
      }
    }
  }
}
