<div class="tribus--add">
  <div class="grid-container">
    <h1>
      Unterordnung hinzufügen
    </h1>
  </div>
  <div class="grid-container">
    <form [formGroup]="suborderForm" (ngSubmit)="submit()">
      <div class="tribus__item">
        <app-input [config]="nameLtConfig" formControlName="nameLt"></app-input>
      </div>
      <div class="tribus__item">
        <app-input [config]="nameDeConfig" formControlName="nameDe"></app-input>
      </div>
      <div class="login__button">
        <button class="button button-icon--left button--green-medium" type="submit" [disabled]="suborderForm.invalid">
          <i class="icon fi-save"></i>
          <span>Unterordnung Anlegen</span>
        </button>
      </div>
    </form>
  </div>
</div>
