<div class="subfamily--edit">
  <div class="grid-container">
    <h1>
      Kontinent bearbeiten
    </h1>
  </div>
  <div class="grid-container">
    <app-notification [config]="notificationData" *ngIf="continents.length <= 0"></app-notification>
    <div class="table" *ngIf="continents.length > 0">
      <div class="table-body">
        <div class="table-row table-row--head">
          <div class="table-row-item">
            <span> Name</span>
          </div>
          <div class="table-row-item">
            <span>Aktion</span>
          </div>
        </div>
        <ng-container *ngFor="let continent of continents">
          <div class="table-row">
            <div class="table-row-item" data-title="Name deutsch">
              <span *ngIf="continent.name"> {{continent.name}}</span>
            </div>
            <div class="table-row-item table-row-item--action" data-title="Aktion">
              <button class="button button-icon--left button--blue-dark" (click)="continent.edit = !continent.edit">
                <i class="icon fi-pencil"></i>
                <span>Bearbeiten</span>
              </button>
              <button class="button button-icon--left button--red-dark" (click)="delete(continent._id)">
                <i class="icon fi-trash"></i>
                <span> Löschen</span>
              </button>
            </div>
            <div class="table-row-item table-row-item--edit"
                 [ngClass]="{'table-row-item--edit--show' : continent.edit }">
              <div class="table-row-item">
                <app-input [config]="continentNameConfig" [(ngModel)]="continent.newName"></app-input>
              </div>
              <div class="table-row-item">
                <button class="button button-icon--left button--green-medium" [disabled]="!continent.name" (click)="update(continent)">
                  <i class="icon fi-save"></i>
                  <span>Speichern</span>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
