<div class="input-wrapper" [ngClass]="{ 'input-wrapper--error' : !valid && showError}">
    <input type="{{ config.type }}" [(ngModel)]="inputValue" (blur)="validateInput()" placeholder="">
    <label>{{ config.label }}</label>
    <span class="bar"></span>
    <div class="input-wrapper__validation" [ngClass]="{ 'input-wrapper__validation--show' :  !valid && showError}">
        {{ config.validationText}}
    </div>
</div>
