@import "~src/scss/global/global";
$cardClass: '.card';
#{$cardClass} {
  cursor: pointer;
  height: 100%;

  &__img {
    overflow: hidden;

    img {
      transition: $transition;
      max-width: 100%;
      display: inline-block;
    }
  }
  &-info {
    background: #164059;
    color: #C7F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40px;
    justify-content: center;
    margin-top: -4px;
    padding: 8px 0;

    &__name-lt {

    }
    &__name-de {
      margin-bottom: 10px;
    }
  }
  &:hover {
    #{$cardClass}__img {
      img {

      transform: scale(1.05);
      }
    }
  }
}
