<div class="card" *ngIf="cardData">
  <div class="card__img">
    <img [src]="getImage(cardData.previewImage)">
  </div>
  <div class="card-info">
    <div class="card-info__name-de" *ngIf="cardData.nameDe">
      {{cardData.nameDe}}
    </div>
    <div class="card-info__name-lt" *ngIf="cardData.nameLt">
      {{cardData.nameLt}}
    </div>
  </div>
</div>
