<div class="select-wrapper" >
  <select [(ngModel)]="selectValue">
    <ng-container *ngIf="selectOptions.options.length > 0">
      <option [ngValue]=""></option>
      <option *ngFor="let option of selectOptions.options" [ngValue]="option.value">{{option.text}}</option>
    </ng-container>
    <ng-container *ngIf="selectOptions.options.length === 0">
      <option ngValue="">Noch kein Eintrag</option>
    </ng-container>

  </select>
  <label>{{ selectOptions.label }}</label>
  <span class="bar"></span>
</div>
