@import "~src/scss/global/global";
$trans-time: 300ms;
$width: 100%;

.select-wrapper {
  position: relative;
  margin: 32px 0;

  select {
    background: none;
    color: $blue-dark;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $blue-dark;
    cursor: pointer;
    position: relative;
    z-index: 10;

    &:focus {
      outline: none;
    }
    &:-webkit-autofill {
      background: transparent !important;
    }
    &:focus ~ label,
    &.filled ~ label,
    &:-webkit-autofill ~ label {
      top: -16px;
      font-size: 12px;
      color: $blue-dark;
    }

    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  label {
    color: $blue-dark;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
  }
  .bar {
    position: relative;
    display: block;
    width: $width;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $blue-medium;
      transition: $trans-time ease all;
      left: 0;
    }
  }
  &--error {

    .bar {
      &:before {
        background: $error-red;
      }
    }

    .iconfont {
      opacity: 1;
    }


  }
  &__validation {
    padding: 8px 0;
    box-sizing: border-box;
    font-size: $font-size;
    transition: $transition;
    color: $error-red;
    opacity: 0;
    height: 0;

    &--show {
      height: 100%;
      opacity: 1;
    }
  }
}
