<nav class="main-nav">
  <div class="main-nav-img">
    <a [routerLink]="['/']">
      <img [src]="'./assets/images/aquariumhelfer-logo.jpg'">
    </a>
  </div>
  <ul class="main-nav-list" [ngClass]="{'main-nav-list--active': toggler }">
    <li class="main-nav-list__item">
      <a [routerLink]="['/fische/von-a-bis-z']" (click)="closeDropdowns()">
        Alle Fische
      </a>
    </li>
    <li class="main-nav-list__item">
      <a [routerLink]="['/login']" (click)="closeDropdowns()">
        <span>Login</span>
      </a>
    </li>
  </ul>
  <div class="burger-menu" [ngClass]="{'burger-menu--active': toggler }" (click)="toggleNav()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
