$font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
$font-size: rem-calc(16);

$transition: 150ms ease-in-out all;


// colors

$green: #4abdac;
$red: #fc4a1a;
$yellow: #f7b733;
$grey: #dfdce3;
$white: #ffffff;
$back: #363636;
$error-red: #821818;

  /* Color Theme Swatches in Hex */
$blue-dark: #164059;
$blue-medium: #275D73;
$blue-light: #C7F8FF;

$green-dark: #3A4B40;
$green-medium: #34BF7E;
$green-light: #84D9B1;

$grey-dark: #5A5A5A;
$grey-medium: #BCBCBC;
$grey-light: #F2F2F2;

// border-radius

$global-border-radius: rem-calc(10);