<div class="suborders--edit">
    <div class="grid-container">
        <h1>
            Unterordnung bearbeiten
        </h1>
    </div>
    <div class="grid-container">
        <app-notification [config]="notificationData" *ngIf="suborders.length <= 0"></app-notification>
        <div class="table" *ngIf="suborders.length > 0">
            <div class="table-body">
                <div class="table-row table-row--head">
                    <div class="table-row-item">
                        <span> Name lateinisch</span>
                    </div>
                    <div class="table-row-item">
                        <span> Name deutsch</span>
                    </div>
                    <div class="table-row-item">
                        <span>Aktion</span>
                    </div>
                </div>
                <ng-container *ngFor="let subordersItem of suborders">
                    <div class="table-row">
                        <div class="table-row-item" data-title="Name lateinisch">
                            <span> {{subordersItem.nameLt}}</span>
                        </div>
                        <div class="table-row-item" data-title="Name deutsch">
                            <span *ngIf="subordersItem.nameDe"> {{subordersItem.nameDe}}</span>
                        </div>
                        <div class="table-row-item table-row-item--action" data-title="Aktion">
                            <button class="button button-icon--left button--blue-dark"
                                    (click)="subordersItem.edit = !subordersItem.edit">
                                <i class="icon fi-pencil"></i>
                                <span>Bearbeiten</span>
                            </button>
                            <button class="button button-icon--left button--red-dark"
                                    (click)="delete(subordersItem._id)">
                                <i class="icon fi-trash"></i>
                                <span> Löschen</span>
                            </button>
                        </div>
                        <div class="table-row-item table-row-item--edit"
                             [ngClass]="{'table-row-item--edit--show' : subordersItem.edit }">
                            <div class="table-row-item">
                                <app-input [config]="nameLtConfig" [(ngModel)]="subordersItem.newNameLt"></app-input>
                            </div>
                            <div class="table-row-item">
                                <app-input [config]="nameDeConfig" [(ngModel)]="subordersItem.newNameDe"></app-input>
                            </div>
                            <div class="table-row-item">
                                <button class="button button-icon--left button--green-medium"
                                        [disabled]="!subordersItem.newNameLt" (click)="update(subordersItem)">
                                    <i class="icon fi-save"></i>
                                    <span>Speichern</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
