button, .button {
  border: none;
  background: none;
  transition: all 0.3s;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: rem-calc(16);
  min-width: 120px;
  color: $white;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0.1, 1);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.25);
  }

  &:hover:not([disabled]) {
    &:before {
      opacity: 1;
      transform: scale(1, 1);
    }

    &:after {
      opacity: 0;
      transform: scale(0.1, 1);
    }
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  .icon {
    background: rgba(0, 0, 0, .3);
    height: 48px;
    align-items: center;
    justify-content: center;
    width: 48px;
    box-sizing: border-box;
    display: flex;
  }

  &-icon {

    &--left {
      padding-left: 0;

      .icon {
        opacity: 0.8;
      }

      span {
        padding: 0 16px;
        width: 100%;
      }
    }
  }

  &--red {
    background: $red;

    &-dark {
      background: $error-red;
    }
  }

  &--grey {
    &-dark {
      background: $grey-dark;
    }

    &-medium {
      background: $grey-medium;
    }

    &-light {
      background: $grey-light;
    }
  }

  &--green {
    &-dark {
      background: $green-dark;
    }

    &-medium {
      background: $green-medium;
    }

    &-light {
      background: $green-light;
    }
  }

  &--blue {
    &-dark {
      background: $blue-dark;
    }

    &-medium {
      background: $blue-medium;
    }

    &-light {
      background: $blue-light;
    }
  }
}