$root: '.main-nav';
body {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;

  @include breakpoint(medium down) {
    overflow-x: hidden;
  }
  .overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    visibility: hidden;
  }
  &.navigation-active {
    overflow-y: hidden;

    .overlay {
      display: flex;
      visibility: visible;
      z-index: 100;
      opacity: 1;
    }
  }
  .layout {
    min-height: 100%;
    position: relative;
  }
}

#{$root} {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid $blue-dark;
  background: white;
  z-index: 999999999;

  &-list {
    background: $blue-dark;
    height: calc(100vh - 50px);
    position: absolute;
    right: -50vw;
    top: 67px;
    transition: 500ms ease-in-out all, 0ms ease-in-out width;
    width: 50vw;
    z-index: 999999999;
    overflow-y: auto;
    opacity: 0;

    li {
      color: $grey-light;

      a {
        color: $grey-light;
      }
    }
    &--active {
      right: 0;
      width: 50vw;
      opacity: 1;
    }

    &__item {
      padding: 16px;
      cursor: pointer;

      &--dropdown {
        span {
          &:after {
            content: '';
            display: inline-block;
            border-top: 1px solid $grey-light;
            border-right: 1px solid $grey-light;
            width: 12px;
            height: 12px;
            transform: rotate(135deg);
            margin-left: 16px;
          }
        }
        ul {
          max-height: 0;
          opacity: 0;
          transition: 500ms ease-in-out max-height, 500ms ease-in-out opacity 300ms;
          visibility: hidden;

          li {
              color: $grey-light;
            a {
              color: $grey-light;
            }
          }
        }

        &--active {
          padding-bottom: 0;

          ul {
            max-height: 100vh;
            opacity: 1;
            visibility: visible;
            display: block;
            padding: 12px;
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    padding: 0;

    &-img {
      padding: 10px;
    }
    &-list {
      overflow-y: unset;
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: flex-end;
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
      visibility: visible;
      opacity: 1;

      &__item {
        padding: 16px 16px 12px;
        border-bottom: 4px solid transparent;
        transition: $transition;
        span {
          padding: 16px 16px 12px;
        }
        &--dropdown {
          position: relative;
          cursor: pointer;

          ul {
            display: none;
            max-height: 0;
            opacity: 0;
            width: 0;
            padding: 0;

            li {
              padding: 0;

              a {
                background-color: transparent;
                //border: 1px solid $blue-dark;
                border-top: none;
                color: $blue-dark;
                font-weight: 400;
                padding: 16px;
                white-space: nowrap;
                width: 100%;
              }
            }
          }
          &--active {
            padding-bottom: 12px;
            border-color: white;

            ul {
              display: block;
              background: white;
              left: 0;
              max-height: 100%;
              opacity: 1;
              position: absolute;
              top: 52px;
              padding: 4px;
              visibility: visible;
              width: 100%;
              border: 1px solid $blue-dark;
              border-top: none;
              box-sizing: border-box;

              li {
                border-bottom: 8px solid white;
              }
            }
          }
        }
      }
    }
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 10px;
  width: 50px;
  z-index: 100;
  cursor: pointer;

  span {
    background: $blue-dark;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin-bottom: 6px;
    position: relative;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
    width: 40px;
    z-index: 1;

    &:first-child {
      transform-origin: 0 0;
    }

    &:nth-child(2) {
      transform-origin: 0 100%;
    }
  }

  &--active {
    span {
      transform: rotate(45deg) translate(-2px, -6px);

      &:nth-last-child(1) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      &:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
    }
  }

  @include breakpoint(medium down) {
    display: flex;
  }
}
