$table: '.table';
#{$table} {
  //width: 100%;
  //border: 1px solid $blue-dark;
  //border-top: none;

  @include breakpoint(small only) {
    display: flex;
    flex-direction: column;
  }
  &-body {
    color: $blue-dark;
    border: 1px solid #591619;
    box-sizing: content-box;
    width: 100%;

    @include breakpoint(small only) {
      border: none;
    }
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    transition: all 150ms ease-in-out;
    padding: 8px 16px;
    align-items: center;

    &:nth-child(even) {
      background: $grey-light;
    }

    @include breakpoint(small only) {
      display: flex;
      flex-direction: column;
      padding: 16px;
      margin-bottom: 10px;
      background: $grey-light;

      &-item {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 16px;
        text-align: left;

        &:before {
          align-items: center;
          content: attr(data-title);
          margin-bottom: 8px;
          margin-right: 20px;
          display: flex;
          font-weight: bold;
        }
      }
    }
    &--head {
      background: $blue-dark;
      color: white;

      #{$table}-row-item {

        &:last-child {
          text-align: right;
        }
      }
      @include breakpoint(small only) {
        display: none;
      }
    }
    &-item {
      align-items: flex-start;
      box-sizing: border-box;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: left;
      transition: all 150ms ease-in-out;

      &--action {
        display: flex;
        justify-content: flex-end;

        button {
          margin-right: 10px;

          &:last-child {
            margin: 0;
          }
        }
        @include breakpoint(small only) {
          flex-direction: column;

          button {
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;
            }
          }

        }
      }
      &--edit {
        flex-basis: 100%;
        order: 12;
        max-height: 0;
        overflow: hidden;
        background: $blue-dark;
        transition: all ease-in-out 500ms;
        display: flex;
        align-items: center;
        padding: 0;
        display: flex;
        align-items: center;
        padding: 0 16px;

        #{$table}-row-item {
          padding-right: 16px;

          &:last-child {
            padding-right: 0;
            display: flex;
            justify-content: flex-end;
          }

          @include breakpoint(small only) {

            &:last-child {
              text-align: left;
            }
          }
        }

        &--show {
          background: transparent;
          opacity: 1;
          max-height: 1000px;
          padding-top: 16px;
        }

        @include breakpoint(small only) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
