body {
  font-family: $font-family;
  font-size: $font-size;
  color: $blue-dark;
  a {
    color: $blue-medium;
  }
  h1 {
    font-size: rem-calc(32px);
    font-weight: bold;
  }
  h2 {
    font-size: rem-calc(28px);
    font-weight: 600;
  }
  h3 {
    font-size: rem-calc(20px);
    font-weight: 500;

  }
  .headline {
    font-size: rem-calc(20px);
    font-weight: 500;
  }
  h1,h2,h3,h4,h5,.headline {
    margin-bottom: 16px;
    display: flex;
  }
}