/*! 
* @package IcoFont 
* @version 1.0.1 
* @author IcoFont https://icofont.com 
* @copyright Copyright (c) 2015 - 2019 IcoFont
* @license - https://icofont.com/license/
*/

@font-face
{

  font-family: "Iconfont";
  font-weight: normal;
  font-style: "Regular";
  src: url("../assets/iconfont/icofont.woff2") format("woff2"),
  url("../assets/iconfont/icofont.woff") format("woff");
}

[class^="iconfont-"], [class*=" iconfont-"]
{
  font-family: 'Iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.iconfont-search-1:before
{
  content: "\ed11";
}

.iconfont-search-user:before
{
  content: "\ed1a";
}

.iconfont-verification-check:before
{
  content: "\f021";
}

.iconfont-spinner-alt-3:before
{
  content: "\eff6";
}

.iconfont-spinner-alt-4:before
{
  content: "\eff7";
}

.iconfont-spinner:before
{
  content: "\effa";
}

.iconfont-settings-alt:before
{
  content: "\efe1";
}

.iconfont-reply:before
{
  content: "\efd4";
}

.iconfont-map:before
{
  content: "\ef8b";
}

.iconfont-link:before
{
  content: "\ef71";
}

.iconfont-info:before
{
  content: "\ef50";
}

.iconfont-info-circle:before
{
  content: "\ef4e";
}

.iconfont-info-square:before
{
  content: "\ef4f";
}

.iconfont-home:before
{
  content: "\ef47";
}

.iconfont-heart-alt:before
{
  content: "\ef44";
}

.iconfont-gear:before
{
  content: "\ef3a";
}

.iconfont-gears:before
{
  content: "\ef3b";
}

.iconfont-expand:before
{
  content: "\ef1e";
}

.iconfont-close-line-squared:before
{
  content: "\eee0";
}

.iconfont-close-line:before
{
  content: "\eee1";
}

.iconfont-close-line-circled:before
{
  content: "\eede";
}

.iconfont-check-alt:before
{
  content: "\eed6";
}

.iconfont-user-alt-3:before
{
  content: "\ecfd";
}

.iconfont-play-alt-2:before
{
  content: "\eca7";
}

.iconfont-file-tiff:before
{
  content: "\eb2b";
}

.iconfont-save:before
{
  content: "\ee00";
}

.iconfont-printer:before
{
  content: "\edfd";
}

.iconfont-redo:before
{
  content: "\edfe";
}

.iconfont-undo:before
{
  content: "\ee0b";
}

.iconfont-trash:before
{
  content: "\ee09";
}

.iconfont-xs
{
  font-size: .5em;
}

.iconfont-sm
{
  font-size: .75em;
}

.iconfont-md
{
  font-size: 1.25em;
}

.iconfont-lg
{
  font-size: 1.5em;
}

.iconfont-1x
{
  font-size: 1em;
}

.iconfont-2x
{
  font-size: 2em;
}

.iconfont-3x
{
  font-size: 3em;
}

.iconfont-4x
{
  font-size: 4em;
}

.iconfont-5x
{
  font-size: 5em;
}

.iconfont-6x
{
  font-size: 6em;
}

.iconfont-7x
{
  font-size: 7em;
}

.iconfont-8x
{
  font-size: 8em;
}

.iconfont-9x
{
  font-size: 9em;
}

.iconfont-10x
{
  font-size: 10em;
}

.iconfont-fw
{
  text-align: center;
  width: 1.25em;
}

.iconfont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.iconfont-ul > li
{
  position: relative;
  line-height: 2em;
}

.iconfont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.iconfont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.iconfont-pull-left
{
  float: left;
}

.iconfont-pull-right
{
  float: right;
}

.icofont.iconfont-pull-left
{
  margin-right: .3em;
}

.icofont.iconfont-pull-right
{
  margin-left: .3em;
}

.iconfont-spin
{
  -webkit-animation: iconfont-spin 2s infinite linear;
  animation: iconfont-spin 2s infinite linear;
  display: inline-block;
}

.iconfont-pulse
{
  -webkit-animation: iconfont-spin 1s infinite steps(8);
  animation: iconfont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes iconfont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes iconfont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.iconfont-rotate-90
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iconfont-rotate-180
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.iconfont-rotate-270
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.iconfont-flip-horizontal
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.iconfont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.iconfont-flip-horizontal.iconfont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .iconfont-rotate-90,
:root .iconfont-rotate-180,
:root .iconfont-rotate-270,
:root .iconfont-flip-horizontal,
:root .iconfont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.iconfont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
	