<div class="tribus--add">
  <div class="grid-container">
    <h1>
      Kontinent hinzufügen
    </h1>
  </div>
  <div class="grid-container">
    <form [formGroup]="continentForm" (ngSubmit)="submit()">
      <div class="tribus__item">
        <app-input [config]="continentNameConfig" formControlName="continent"></app-input>
      </div>
      <div class="login__button">
        <button class="button button-icon--left button--green-medium" type="submit" [disabled]="continentForm.invalid">
          <i class="icon fi-save"></i>
          <span>Kontinent Anlegen</span>
        </button>
      </div>
    </form>
  </div>
</div>
