<div class="subfamily--edit">
  <div class="grid-container">
    <h1>
      Familie bearbeiten
    </h1>
  </div>
  <div class="grid-container">
    <app-notification [config]="notificationData" *ngIf="families.length <= 0"></app-notification>
    <div class="table" *ngIf="families.length > 0">
      <div class="table-body">
        <div class="table-row table-row--head">
          <div class="table-row-item">
            <span> Name lateinisch</span>
          </div>
          <div class="table-row-item">
            <span> Name deutsch</span>
          </div>
          <div class="table-row-item">
            <span>Aktion</span>
          </div>
        </div>
        <ng-container *ngFor="let family of families">
          <div class="table-row">
            <div class="table-row-item" data-title="Name lateinisch">
              <span> {{family.nameLt}}</span>
            </div>
            <div class="table-row-item" data-title="Name deutsch">
              <span *ngIf="family.nameDe"> {{family.nameDe}}</span>
            </div>
            <div class="table-row-item table-row-item--action" data-title="Aktion">
              <button class="button button-icon--left button--blue-dark" (click)="family.edit = !family.edit">
                <i class="icon fi-pencil"></i>
                <span>Bearbeiten</span>
              </button>
              <button class="button button-icon--left button--red-dark" (click)="delete(family._id)">
                <i class="icon fi-trash"></i>
                <span> Löschen</span>
              </button>
            </div>
            <div class="table-row-item table-row-item--edit"
                 [ngClass]="{'table-row-item--edit--show' : family.edit }">
              <div class="table-row-item">
                <app-input [config]="nameLtConfig" [(ngModel)]="family.newNameLt"></app-input>
              </div>
              <div class="table-row-item">
                <app-input [config]="nameDeConfig" [(ngModel)]="family.newNameDe"></app-input>
              </div>
              <div class="table-row-item">
                <button class="button button-icon--left button--green-medium" [disabled]="!family.newNameLt" (click)="update(family)">
                  <i class="icon fi-save"></i>
                  <span>Speichern</span>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
