<div class="login">
    <a [routerLink]="'login'">Zum Login</a>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell auto">
            <h1>Alle Fische von A bis Z</h1>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="alphabet">
        <ng-container *ngFor="let item of alphabet; index as i">
            <div class="alphabet__item" [ngClass]="{'alphabet__item--active ': activeChar === i}" *ngIf="i === 0"
                 (click)="getFishByChar(i)">
                <span>Alle</span>
            </div>
            <div class="alphabet__item" [ngClass]="{'alphabet__item--active ': activeChar === (64+i)}" *ngIf="i > 0"
                 (click)="getFishByChar(i+64)">
                <span>{{getChar(i + 64)}} </span>
            </div>
        </ng-container>
    </div>
</div>

<div class="grid-container" *ngIf="fishes">
    <div class="grid-x grid-margin-x grid-margin-y">
        <ng-container *ngFor="let fish of fishes">
            <div class="cell large-3 medium-6 small-12">
                <app-card [cardData]="fish"></app-card>
            </div>
        </ng-container>
        <ng-container *ngIf="fishes.length === 0">
            <div class="cell small-12">
                <app-notification [config]="{status: 'info', text: null, clickable: false }">
                    Leider sind keine Fische mit dem Anfangsbuchstaben {{ getChar(activeChar)}} vorhanden
                </app-notification>
            </div>
        </ng-container>
    </div>
</div>
