@import "~src/scss/global/global";
:host {
  .login {
    margin: 40px 8px 20px;
  }
  .alphabet {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;

    &__item {
      padding: 4px;
      width: calc(100% / 27);
      text-align: center;
      cursor: pointer;
      transition: $transition;
      border-bottom: 1px solid transparent;

      &--active {
        text-align: center;
        border-bottom: 1px solid $blue-dark;

        span {
          font-weight: bold;
        }
      }
    }

    @include breakpoint(medium down) {
      &__item {
        width: calc(100% / 14);
        margin-bottom: 8px;
      }
    }
    @include breakpoint(small only) {
      &__item {
        width: calc(100% / 9);
      }
    }
  }
}
