<nav class="main-nav">
    <div class="main-nav-img">
        <a [routerLink]="['/admin/dashboard']">
          <img [src]="'./assets/images/aquariumhelfer-logo.jpg'">
        </a>
    </div>
    <ul class="main-nav-list" [ngClass]="{'main-nav-list--active': toggler }">
        <li class="main-nav-list__item main-nav-list__item--dropdown"
            [ngClass]="{'main-nav-list__item--dropdown--active': dropdown.fish}">
            <span (click)="toggleDropdown('fish')">Fische</span>
            <ul>
                <li>
                    <a [routerLink]="['/admin/fish/add']" (click)="closeDropdowns()">
                        Fisch anlegen
                    </a>
                </li>
            </ul>
        </li>
        <li class="main-nav-list__item">
            <a [routerLink]="['/admin/tribus']" (click)="closeDropdowns()">
                <span>Tribus</span>
            </a>
        </li>

        <li class="main-nav-list__item">
            <a [routerLink]="['/admin/family']" (click)="closeDropdowns()">
                <span>Familie</span>
            </a>
        </li>
        <li class="main-nav-list__item">
            <a [routerLink]="['/admin/subfamily']" (click)="closeDropdowns()">
                <span>Unterfamilie</span>
            </a>
        </li>
        <li class="main-nav-list__item">
            <a [routerLink]="['/admin/order']" (click)="closeDropdowns()">
                <span>Ordnung</span>
            </a>
        </li>
        <li class="main-nav-list__item">
            <a [routerLink]="['/admin/suborder']" (click)="closeDropdowns()">
                <span>Unterordnung</span>
            </a>
        </li>
        <li class="main-nav-list__item">
            <a [routerLink]="['/admin/continent']" (click)="closeDropdowns()">
                <span>Kontinent</span>
            </a>
        </li>
        <li class="main-nav-list__item">
            <a (click)="logout()">
                <span>Ausloggen</span>
            </a>
        </li>
    </ul>
    <div class="burger-menu" [ngClass]="{'burger-menu--active': toggler }" (click)="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
