<div class="subfamily--edit">
    <div class="grid-container">
        <h1>
            Unterfamilie bearbeiten
        </h1>
    </div>
    <div class="grid-container">
        <app-notification [config]="notificationData" *ngIf="subfamilies.length <= 0"></app-notification>
        <div class="table" *ngIf="subfamilies.length > 0">
            <div class="table-body">
                <div class="table-row table-row--head">
                    <div class="table-row-item">
                        <span> Name lateinisch</span>
                    </div>
                    <div class="table-row-item">
                        <span> Name deutsch</span>
                    </div>
                    <div class="table-row-item">
                        <span>Aktion</span>
                    </div>
                </div>
                <ng-container *ngFor="let subfamily of subfamilies">
                    <div class="table-row">
                        <div class="table-row-item" data-title="Name lateinisch">
                            <span> {{subfamily.nameLt}}</span>
                        </div>
                        <div class="table-row-item" data-title="Name deutsch">
                            <span *ngIf="subfamily.nameDe"> {{subfamily.nameDe}}</span>
                        </div>
                        <div class="table-row-item table-row-item--action" data-title="Aktion">
                            <button class="button button-icon--left button--blue-dark"
                                    (click)="subfamily.edit = !subfamily.edit">
                                <i class="icon fi-pencil"></i>
                                <span>Bearbeiten</span>
                            </button>
                            <button class="button button-icon--left button--red-dark" (click)="delete(subfamily._id)">
                                <i class="icon fi-trash"></i>
                                <span> Löschen</span>
                            </button>
                        </div>
                        <div class="table-row-item table-row-item--edit"
                             [ngClass]="{'table-row-item--edit--show' : subfamily.edit }">
                            <div class="table-row-item">
                                <app-input [config]="nameLtConfig" [(ngModel)]="subfamily.newNameLt"></app-input>
                            </div>
                            <div class="table-row-item">
                                <app-input [config]="nameDeConfig" [(ngModel)]="subfamily.newNameDe"></app-input>
                            </div>
                            <div class="table-row-item">
                                <button class="button button-icon--left button--green-medium"
                                        [disabled]="!subfamily.newNameLt" (click)="update(subfamily)">
                                    <i class="icon fi-save"></i>
                                    <span>Speichern</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
