<div class="fish">
    <form [formGroup]="addFishForm" (ngSubmit)="submit()">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="nameLtConfig" formControlName="nameLt"></app-input>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="nameDeConfig" formControlName="nameDe"></app-input>
                </div>
                <div class="cell large-4 medium-6 small-12">
                    <app-select [selectOptions]="selectContinentOptions" formControlName="continent"></app-select>
                </div>
                <div class="cell large-4 medium-6 small-12">
                    <app-input [config]="originConfig" formControlName="origin"></app-input>
                </div>
                <div class="cell large-4 medium-6 small-12">
                    <app-input [config]="watersConfig" formControlName="waters"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="sizeConfig" formControlName="size"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="ageConfig" formControlName="age"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="phMinConfig" formControlName="phMin"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="phMaxConfig" formControlName="phMax"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="tempMinConfig" formControlName="tempMin"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="tempMaxConfig" formControlName="tempMax"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="ghMinConfig" formControlName="ghMin"></app-input>
                </div>
                <div class="cell large-2 medium-6 small-6">
                    <app-input [config]="ghMaxConfig" formControlName="ghMax"></app-input>
                </div>
            </div>
            <hr>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <app-select [selectOptions]="selectFamiliesOptions" formControlName="family"></app-select>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <app-select [selectOptions]="selectSubfamiliesOptions" formControlName="subfamily"></app-select>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <app-select [selectOptions]="selectOrderOptions" formControlName="order"></app-select>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <app-select [selectOptions]="selectSuborderOptions" formControlName="suborder"></app-select>
                </div>

                <div class="cell large-6 medium-6 small-12">
                    <app-select [selectOptions]="selectTribusOptions" formControlName="tribus"></app-select>
                </div>
            </div>
        </div>
        <hr>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="multiplicationOptions" formControlName="multiplication"></app-input>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="characteristicsOptions" formControlName="characteristics"></app-input>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="attitudeOptions" formControlName="attitude"></app-input>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="foodOptions" formControlName="food"></app-input>
                </div>
                <div class="cell large-4 medium-6 small-12">
                    <app-input [config]="aquariumRegionOptions" formControlName="aquariumRegion"></app-input>
                </div>
                <div class="cell large-4 medium-6 small-12">
                    <app-input [config]="literOptions" formControlName="liter"></app-input>
                </div>
                <div class="cell large-4 medium-6 small-12">
                    <app-input [config]="edgeLengthOptions" formControlName="edgeLength"></app-input>
                </div>
                <div class="cell large-12 medium-12 small-12">
                    <app-input [config]="descriptionOptions" formControlName="description"></app-input>
                </div>
                <div class="cell large-12 medium-6 small-12">
                    <app-input [config]="synonymsOptions" formControlName="synonyms"></app-input>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="discovererOptions" formControlName="discoverer"></app-input>
                </div>
                <div class="cell large-6 medium-6 small-12">
                    <app-input [config]="discovererYearOptions" formControlName="discovererYear"></app-input>
                </div>
            </div>
        </div>
        <div class="grid-container" *ngIf="!showNotification">
            <div class="cell large-12 medium-12 small-12">
                <button class="button button-icon--left button--green-medium" type="submit"
                        [disabled]="addFishForm.invalid">
                    <i class="icon fi-save"></i>
                    <span>Fisch Anlegen</span>
                </button>
            </div>
        </div>
    </form>
    <div class="fish-notification" *ngIf="showNotification">
        <app-notification [config]="{status: 'info', text: null, clickable: false }">
            <span *ngIf="!showError">Fisch wurde erfolgreich angelegt</span>
            <span *ngIf="showError">Fisch konnte nich anglegt werden.</span>
        </app-notification>
    </div>
</div>
