<div class="dashboard">
    <div class="grid-container">
        <h1>Was beinhaltet dieses Projekt?</h1>
        <p>
            Dieses ist ein Angular Progressiv Web App Projekt mit NodeJS und MongoDB <br>
            Folgendes beinhaltet dieses Projekt
        </p>
            <ul>
                <li>Login</li>
                <li>Tribus, Familien, Unterfamilien, Ordnung, Unterordung, Kontinente können angelegt/bearbeitet/gelöscht werden</li>
                <li>Fische können angelegt werden</li>
                <li>Logout nach 1 Stunde</li>
                <li>MongoDB angebunden</li>
                <li>Routing über Angular</li>
                <li>API über Node Routing</li>
                <li>Repsonsive</li>
                <li>Offline Verfügbar nach einmaligen Aufruf</li>
                <li>Beim ersten Server start werden Daten in die MongoDB importiert, wenn diese noch nicht vorhanden sind</li>
            </ul>
    </div>
</div>
