@import "~src/scss/global/global";

$notification: '.notification';
#{$notification} {
  flex-direction: row;
  display: flex;
  padding: 20px;
  background: $white;
  color: $blue-dark;
  border: 2px solid transparent;

  &--success {
    background: rgba($green-medium, .1);
    border-color: $green-medium;

    #{$notification} {

      &__content {
        color: $green-medium;
      }
      &__icon {
        color: $green-medium;
      }
    }
  }
  &--info {
    background: rgba($blue-dark, .1);
    border-color: $blue-dark;

    #{$notification} {

      &__content {
        color: $blue-dark;
      }
      &__icon {
        color: $blue-dark;
      }
    }
  }
  &--error {
    background: rgba($error-red, .1);
    border-color: $error-red;

    #{$notification} {

      &__content {
        color: $error-red;
      }
      &__icon {
        color: $error-red;
      }
    }
  }
  &__content {
    align-items: center;
    display: flex;
  }
  &__icon {
    align-items: center;
    padding-right: 20px;

    i {
      font-size: rem-calc(40);
    }
  }
}